#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h4 {
  margin: 16px 0;
}

p {
  margin: 8px 0;
}

.photo--default {
  height: 100px;
  width: 100px;
}

.description {
  margin-bottom: 40px;
}

.card {
  padding: 20px 28px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px 0px;
}

.card-header {
  font-weight: bold;
  margin-bottom: 8px;
}

.card-content {
  text-align: left;
}

.card-content ul {
  padding-left: 20px;
  margin: 0;
}

.main {
  display: flex;
  column-count: 2;
  flex-wrap: wrap;
  gap: 16px;
}

.read-the-docs {
  color: #888;
}
